.ttt{
    margin: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.square{
    color: none;
    background-color: transparent;
    border:1px solid black;
    height: 8vh;
    width: 6vw;
    font-size: 18px;
    align-items: center;
}
